.section {
  margin-bottom: 20px;
}

.section-title {
  margin: 0 auto;
  text-align: center;
  margin-bottom: 20px;
}


.bg-dark {
  background-color: $first-bg-line-color;
  color: $main-white-color;
}

.section-heading {
  font-family: $main-font;
  font-weight: 900;
  text-transform: uppercase;
  margin: 0 auto;
  @include font-settings(18px, 24px);
  margin-bottom: 20px;
}

.section-heading__dark {
  display: inline-block;
  color: $main-white-color;
  background-color: $first-bg-line-color;
  margin-bottom: 30px;
}

.opacity-symbol {
  color: rgba(0, 0, 0, 0.051);
  line-height: 0.8;
  font-size: 98px;
  transform: rotate(90deg);
  text-align: left;
  position: absolute;
  text-transform: uppercase;
  font-weight: 800;
  line-height: 78px;
}

.section-sub {
  position: relative;
  text-align: left;
  font-size: $main-font-size;
  line-height: 20px;
  color: $main-txt-color;
  font-family: $main-font;
  font-weight: 500;
  position: relative;
  margin: 0 auto 30px;

  &::before {
    content: '';
    width: 20px;
    height: 3px;
    background-color: $first-bg-line-color;
    position: absolute;
    top: 13%;
    left: -15%;
  }
}
