$main-font: 'AcromExtraBold', sans-serif;
$decorative-font: 'Futura', sans-serif;
$bonus-font: 'MinionPro', sans-serif;

$main-font-size: 14px;
$main-line-height: 20px;

$main-txt-color: #000000;
$secondary-txt-color: #3f4144;
$main-white-color: #ffffff;
$accent-txt-color: #ff6b08;

$first-bg-line-color: #000000;
$second-bg-line-color: #16ebfe;