.banner {
  background-image: radial-gradient(at center, #2d3447, #181c27);
  background-color: #181c27;
  padding-bottom: 38px;

  h2 {
    font-size: 30px;
    line-height: 39px;
    color: $main-white-color;
    font-family: $main-font;
    font-weight: bold;
    text-transform: uppercase;
    width: 245px;
    margin: 0 auto 42px;
    padding-top: 64px;
  }

  p {
    width: 370px;
    font-size: 13px;
    letter-spacing: 0px;
    line-height: $main-line-height;
    color: $main-white-color;
    font-family: $main-font;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
    margin: 0 auto 30px;
  }

  a {
    @extend %link;
    width: 218px;
    height: 54px;
    box-shadow: 0px 5px 6px rgba(196, 87, 15, 0.26);
    background-color: $accent-txt-color;
    text-transform: uppercase;
    font-size: 12px;
    line-height: 18px;
    font-family: $main-font;
    font-weight: bold;
    color: $main-white-color;
    line-height: 54px;
    margin: 0 auto;
  }

  .banner__logo {
    text-transform: uppercase;
    font-size: 120px;
    line-height: 70px;
    color: rgba(0, 0, 0, 0.2);
    font-family: $main-font;
    font-weight: 800;
    text-align: center;
    margin: 0 auto 44px;
  }

  .banner__post-bot {
    text-align: left;

    span {
      color: #afb0b3;
      font-weight: 300;
      text-transform: none;
    }
  }
}

.banner__slider {
  position: relative;
  width: 420px;
  margin: 0 auto;

  button {
    position: absolute;
    @extend %btn;
  }

  .slide-prew {
    top: 0;
    left: 0;
    width: 9px;
    height: 9px;
    background-image: url(../images/480px/icons/prew.png);
  }

  .slide-next {
    bottom: 0;
    right: 0;
    width: 18px;
    height: 16px;
    background-image: url(../images/480px/icons/next.png);
  }
}

.social {
  display: none;
}

.social__svg {
  width: 11px;
  height: 11px;
}

.container {
  width: 445px;
  margin: 0 auto;
}

@media screen and (min-width: 768px) {
  .container {
    width: 665px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    width: 732px;
  }
}
