.bg-black {
  text-align: center;
  background: $first-bg-line-color;
}

@media screen and (min-width: 768px) {
  .bg-black {
    text-align: center;
    background: $first-bg-line-color;
  }
}

@media screen and (min-width: 1200px) {
  .bg-black {
    text-align: center;
    background: $first-bg-line-color;
  }
}
