.header {
  position: relative;

  h1 {
    margin: 0;
  }

  .wrapper {
    position: absolute;
    top: 18px;
    left: 15px;
    right: 10px;
    @include center-flex($type: 'ver_between');

    .header__svg {
      width: 27px;
      height: 17px;
      fill: $main-white-color;
    }
  }
}