.header {
  position: absolute;
  left: 18px;
  top: 14px;
}

.container {
  width: 445px;
  margin: 0 auto;
}

.social {
  display: none;
}

.social__svg {
  width: 11px;
  height: 11px;
}

@media screen and (min-width: 768px) {
  .container {
    width: 665px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    width: 732px;
  }
}
