// AS IT LOOKS

// <ul class="the-list">
//       <li class="the-list__item">
//         <h4 class="the-list__title">

.the-list {
  list-style-type: none;

  // -li- settings

  &__item {
    width: 405px;
    padding: 0;
    position: relative;
    font-size: $main-font-size;
    line-height: $main-line-height;
    font-weight: normal;
    color: $secondary-txt-color;
  }

  // .the-list__title - it is a class for your h() in li elements

  &__title {
    text-transform: uppercase;
    font-size: $main-font-size;
    line-height: $main-line-height;
    font-weight: 800;
    color: $main-txt-color;
    margin: 30px 0 15px 0;
  }

  &__title::before {
    display: block;
    position: absolute;
    content: '\25A0';
    color: #000000;
    left: -5%;
  }
}

@media screen and (min-width: 768px) {
  .the-list {
    padding-left: 22px;

    &__item {
      width: 230px;
      font-size: $main-font-size-768px;
      line-height: $main-line-height-768px;
      margin: 5px 0 18px 0;
    }

    &__title {
      font-size: $main-font-size-768px;
      line-height: $main-line-height-768px;
      margin-bottom: 6px;
    }
  
    &__title::before {
      display: block;
      position: absolute;
      content: '\25A5';
      color: #000000;
      left: -10%;
    }
  }
}

@media screen and (min-width: 1200px) {
  .the-list {
    padding: 0;

    &__item {
      width: 270px;
      font-size: $main-font-size-768px;
      line-height: $main-line-height-768px;
      margin: 5px 0 18px 0;
    }

    &__title {
      font-size: $main-font-size-1200px;
      line-height: $main-line-height-1200px;
      margin-bottom: 6px;
    }
  
    &__title::before {
      display: block;
      position: absolute;
      content: '\25A5';
      color: #000000;
      left: 50%;
    }
  }
}
