.section-list {
  @extend %list;
  list-style-position: inside;
  counter-reset: custom-counter;
}

// Customizing li elements

.section-item {
  position: relative;
  margin: 0 0 20px 20px;
  counter-increment: custom-counter;

  &__title {
    display: inline-block;
    margin-bottom: 10px;

    font-family: $main-font;
    font-weight: 800;
    color: $main-txt-color;
    font-size: 16px;
    text-align: left;
    text-transform: uppercase;
  }

  &__description {
    position: relative;

    font-size: $main-font-size;
    line-height: 20px;
    color: $main-txt-color;
    font-family: $main-font;
    font-weight: 500;
    text-align: left;
  }

  &__title::before {
    position: absolute;
    left: -20%;
    top: -3%;

    display: block;
    margin-right: 20px;

    font-family: $main-font;
    font-weight: 800;
    font-size: 25px;
    color: rgba(0, 0, 0, 255);
    text-align: left;

    content: '0' counter(custom-counter) '.';
  }

  &__description::before {
    position: absolute;
    left: -10%;

    height: 10px;
    width: 10px;
    margin-right: 18px;

    color: $second-bg-line-color;
    content: '\25A0';
  }
}

@media (min-width: 768px) {
  .section-item {
    &__title {
      @include font-settings(9px, 15px);

      &::before {
        @include font-settings(17px, 20px);
        top: 5%;
        margin-right: 20px;
      }
    }

    &__description {
      @include font-settings(8px, 12px);
    }
  }
}

@media (min-width: 1200px) {
  .bonus-item__title {
    @include font-settings(10px, 16px);
  }

  .bonus-item__description {
    @include font-settings(9px, 13px);
  }

  .bonus-item__title::before {
    @include font-settings(19px, 23px);
  }
}
