.container {
  padding-left: 20px;
  padding-right: 20px;
}

.section-bonus {
  padding-top: 30px;
  margin-bottom: 50px;
}
.section-sub__bonuses {
  width: 205px;
  margin: 0 auto 30px;
}

.bonus-description {
  width: 300px;
  margin: 0 auto;
  position: relative;
}

// Form Styling and positioning

.bonus-form {
  display: flex;
  flex-direction: column;
  width: 370px;
  margin: 0 auto;
  border: 1px solid lightgray;
  box-shadow: 0px 0px 12px -2px rgba(176, 176, 176, 1);
  padding: 50px;
  margin-bottom: 20px;

  &__label {
    font-family: $main-font;
    color: $secondary-txt-color;
    font-style: bold;
    font-size: 10px;
    margin-bottom: 5px;
  }

  &__input {
    margin-bottom: 10px;
    border: none;
    border-bottom: 1px solid lightgray;
    padding-bottom: 3px;

    &:nth-child(3) {
      margin-bottom: 30px;
    }
  }

  &__input::placeholder {
    font-family: $main-font;
    font-size: $main-font-size;
    color: $main-txt-color;
  }
}

@media (min-width: 768px) {
  .section-bonus {
    display: grid;
    grid-template-columns: 279px 313px;
    grid-template-rows: auto;
    grid-column-gap: 50px;
    margin: 0 auto;
  }

  .bonus-block {
    grid-column: 1;
    grid-row: 1;
  }

  .bonus-form {
    grid-column: 2;
    grid-row: 1;
    width: 313px;
  }

  .section-heading {
    display: inline;
    text-align: left;
  }

  .section-heading_block {
    text-align: left;
    padding-left: 0;
  }

  .section-sub {
    @include font-settings(9px, 13px);
  }

  .bonus-description {
    width: 200px;
  }

  .sub-title__block {
    width: 200px;
    padding-left: 50px;
    text-align: left;

    &::before {
      margin-right: 30px;
      width: 28px;
      height: 3px;
    }
  }

  .section-sub__bonuses {
    text-align: left;
  }

  .section-heading_block {
    width: 236px;
    text-align: left;
    margin-bottom: 20px;
  }

  .section-item {
    &__title {
      @include font-settings(9px, 15px);

      &::before {
        @include font-settings(17px, 20px);
        top: 5%;
        margin-right: 20px;
      }
    }

    &__description {
      @include font-settings(8px, 12px);
    }
  }
}

@media (min-width: 1200px) {
  .container {
    min-width: 713px;
  }

  .section-bonus {
    grid-template-columns: 310px 348px;
    grid-template-rows: auto;
    grid-column-gap: 30px;
    margin: 0 auto;
  }

  .section-title {
    width: 260px;
  }

  .section-heading {
    @include font-settings(30px, 38px);

    &_block {
      width: 280px;
      text-align: left;
      padding-left: 0;
    }
  }

  .section-sub {
    @include font-settings(10px, 15px);
  }

  .bonus-item__title {
    @include font-settings(10px, 16px);
  }

  .bonus-item__description {
    @include font-settings(9px, 13px);
  }

  .bonus-item__title::before {
    @include font-settings(19px, 23px);
  }

  .bonus-form {
    margin: 0;
  }
}
