.banner {
  background-image: radial-gradient(at center, #2e3549, #181c27);
  background-color: #181c27;
  padding: 65px 0 40px;
  &__content {
    background-image: url(../../images/GoIt-480.png);
    background-position: center;
    background-repeat: no-repeat;
  }
  &__img {
    display: none;
  }
  &__title {
    font-size: 30px;
    line-height: 39px;
    color: $main-white-color;
    font-family: $main-font;
    font-weight: bold;
    text-transform: uppercase;
    width: 245px;
    margin: 0 auto 42px;
  }
  &__post-up,
  &__post-bot {
    width: 370px;
    font-size: 13px;
    letter-spacing: 0px;
    line-height: $main-line-height;
    color: $main-white-color;
    font-family: $main-font;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
    margin: 0 auto;
  }
  &__post-bot {
    text-align: left;
    margin-bottom: 30px;
    span {
      color: #afb0b3;
      font-weight: 300;
      text-transform: none;
    }
  }
}
.banner__slider {
  position: relative;
  width: 420px;
  margin: 0 auto 150px;

  button {
    position: absolute;
    @extend %btn;
  }

  .slide-prew {
    top: 0;
    left: 0;
    width: 9px;
    height: 9px;
    background-image: url(../images/480px/icons/prew.png);
  }

  .slide-next {
    bottom: 0;
    right: 0;
    width: 18px;
    height: 16px;
    background-image: url(../images/480px/icons/next.png);
  }
}

.social {
  display: none;
}
@media screen and (min-width: 768px) and (max-width: 1200px) {
  .banner__social-lit {
    display: block;
  }
}

@media screen and (min-width: 768px) {
  .social__svg {
    width: 11px;
    height: 11px;
    fill: $main-white-color;
  }
  .banner {
    padding: 90px 0;
    &__img {
      display: block;
      background-repeat: no-repeat;
      background-position: right bottom;
      position: absolute;
      bottom: -90px;
      right: 0;
      z-index: 2;
    }
    &__content {
      background-image: url(../images/GoIt-768.png);
      position: relative;
      padding: 90px 0 95px;
    }
    &__text {
      position: relative;
      top: 0;
      bottom: 0;
      right: 0;
      left: 0;
      z-index: 3;
      display: grid;

      grid-template-columns: 50% 50%;
      grid-template-rows: auto;
      grid-template-areas: 'title pr' 'pl soc' 'but .';
    }
    &__title {
      grid-area: title;
      span {
        display: block;
      }
      span:first-child::after {
        content: '';
        display: inline-block;
        background-color: #fff;
        width: 44px;
        height: 6px;
        vertical-align: middle;
        margin: 0 20px 5px;
      }
      span:nth-child(2) {
        display: none;
      }
      span:last-child::before {
        content: '';
        display: inline-block;
        background-color: #fff;
        width: 44px;
        height: 6px;
        vertical-align: middle;
        margin: 0 20px 5px;
      }
    }
    &__slider {
      grid-area: pl;
      justify-self: start;
      margin: 0 0 30px 30px;
      width: 220px;
    }
    &__post-bot {
      grid-area: pr;
      justify-self: end;
      margin: 0;
      width: 157px;
      font-size: 11px;
      line-height: 17px;
      span {
        font-size: 10px;
        line-height: 14px;
      }
    }
    &__social-lit {
      grid-area: soc;
      justify-self: end;
    }
    &__button {
      grid-area: but;
      justify-self: start;
      margin: 0 0 0 55px;
    }
    h2 {
      width: 352px;
      font-size: 45px;
      line-height: 58px;
      margin: 0 0 30px;
    }
    &__post-up {
      width: 180px;
      font-size: 8px;
      line-height: 13px;
      font-weight: bold;
    }
  }
}

@media screen and (min-width: 1200px) {
  .social__svg {
    width: 11px;
    height: 11px;
    fill: $main-white-color;
  }
  .banner {
    &__content {
      background-image: url(../images/GoIt-1200.png);
    }
    &__social-lit {
      display: none;
    }
    &__social-big {
      display: block;
      position: absolute;
      right: 0;
      bottom: 0;
    }
  }
  .cont-head {
    position: relative;
    width: 1128px;
    margin: 0 auto;
  }
}
