.header {
  position: absolute;
  top: 18px;
  left: 15px;
  right: 10px;
  z-index: 999;
  .wrapper {
    @include center-flex($type: 'ver_between');
  }
  h1 {
    margin: 0;
  }
  &__svg {
    width: 27px;
    height: 17px;
    fill: $main-white-color;
  }
}
@media screen and (min-width: 768px) {
  .wrapper {
    width: 640px;
    margin: 0 auto;
  }
}

@media screen and (min-width: 1200px) {
  .wrapper {
    width: 1128px;
  }
}
