.opportunity__img{
  width: 100%;
}
.opportunity__tenders-img {
  right: 45px;
}
.opportunity__title,
.opportunity__subtitle {
  font-family: $main-font;
  font-weight: 900;
  text-transform: uppercase;
}
.opportunity__title {
  @include font-settings(18px, 24px);
}
.opportunity__main {
  padding: 0 51px;
}
.opportunity__contents {
  color: $secondary-txt-color;
  margin-bottom: 40px;
}
.opportunity__subtitle {
  margin-top: 23px;
  margin-bottom: 18px;
  @include font-settings(15px, 20px);
}
.opportunity__content {
  position: relative;
  padding-left: 36px;
  font-family: $main-font;
  font-weight: 600;
  @include font-settings(14px, 20px);
  margin-top: 63px;
  margin-bottom: 36px;

  &:before {
    @include pseudo($display: block);
    position: absolute;
    width: 21px;
    height: 3px;
    background: $main-txt-color;
    left: 1px;
    top: 8px;
  }
}
.opportunity__container {
    padding: 0 51px;
  }
.tenders__subtitle {
  background: $main-txt-color;
  color: $main-white-color;
  display: inline-block;
  font-family: $main-font;
  font-weight: 600;
  @include font-settings(12px, 16px);
}
.opportunity__tenders {
  position: relative;
  padding: 0 51px;
}
.tenders__img,
.opportunity__tenders-img {
  position: absolute;
  right: 5px;
}
.tenders__subtitle__marg {
  margin-bottom: 30px;
}
.tenders__title1,
.tenders__title2 {
  font-family: $main-font;
  font-weight: 800;
  @include font-settings(14px, 20px);
  text-transform: uppercase;
  margin-bottom: 12px;
}
.tenders__title1 {
  margin-top: 36px;
  padding-right: 125px;
}
.tenders__best1,
.tenders__best2,
.tenders__best3 {
  position: relative;
  display: flex;

  &:after {
    content: '01_';
    transform: rotate(270deg);
    color: rgba(0, 0, 0, 0.05);
    position: absolute;
    z-index: -1;
    font-family: $main-font;
    font-weight: 800;
    @include font-settings(39px, 14px);
    left: 157px;
    top: 15px;
  }
}
.tenders__best1:after {
  content: '01_';
}
.paragraph__bold {
  display: block;
  font-family: $main-font;
  font-weight: 900;
}
.paragraph__bold,
.tenders__paragraph {
  @include font-settings(14px, 20px);
}
.tenders__paragraph {
  font-family: $main-font;
  font-weight: 400;
  @include font-settings(14px, 20px);
  margin-bottom: 45px;
}
.tenders__padding {
  padding-right: 51px;
}
.tenders__best2:after {
  content: '02_';
}
.tenders__best3:after {
  content: '03_';
}
.opportunity__title,
.opportunity__subtitle,
.opportunity__content,
.tenders__title1,
.tenders__title2,
.paragraph__bold {
  color: $main-txt-color;
}
.opportunity__contents,
.tenders__paragraph {
  color: $secondary-txt-color;
}
@media (min-width: 768px) {
  .opportunity__img {
    width: auto;
  }
  .opportunity {
    display: grid;
    grid-template-columns: 35% 65%;
    margin-top: 90px;
    position: relative;
  }
  .opportunity__container {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-column-gap: 22px;
    padding: 0;
    margin: 0 auto;
  }
  .opportunity__subtitle {
    margin: 0;
    @include font-settings(9px, 15px);
    padding-left: 120px;
  }
  .opportunity__contents {
    @include font-settings(8px, 12px);
    padding-right: 100px;
    margin: 0;
  }
  .opportunity__content {
    order: 1;
    margin: 0;
    margin-top: 28px;
    width: 200px;
    @include font-settings(9px, 14px);
  }
  .opportunity__img {
    order: 2;
    position: absolute;
    top: 85px;
    left: 268px;
  }
  .opportunity__title {
    @include font-settings(28px, 34px);
  }
  .opportunity__tenders {
    margin-top: 65px;
    display: grid;
    grid-template-columns: 22% 70%;
    grid-column-gap: 25px;
    padding: 0;
  }
  .tenders__best {
    display: grid;
    grid-template-columns: 30% 30% 30%;
    grid-column-gap: 35px;
  }
  .tenders__title1,
  .tenders__title2,
  .tenders__subtitle {
    @include font-settings(9px, 14px);
    padding: 0;
    margin: 0;
    margin-top: 28px;
  }
  .tenders__paragraph,  .paragraph__bold {
    @include font-settings(9px, 12px);
  }
  .opportunity__tenders-img {
    width: 60px;
    height: auto;
    left: 83px;
    top: 34px;
    z-index: -1;
  }
  .tenders__title2 {
    padding-right: 85px;
  }
  .tenders__img {
    right: -3px;
    height: 98px;
    top: 30px;
  }
  .tenders__img-height {
    height: 79px;
  }
  .tenders__best1:after {
    left: 120px;
    top: 27px;
  }
  .tenders__best2::after {
    left: 120px;
    top: 27px;
  }
  .tenders__best3:after {
    left: 120px;
    top: 27px;
  }
}
