* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.video-curse {
  margin-top: 23px;

  &__title {
    font-family: $main-font;
    @include font-settings(28px, 33.65px);
    color: $main-txt-color;
    text-transform: uppercase;
  }

  &__subtitle {
    font-family: $main-font;
    font-weight: 700;
    @include font-settings(9px, 13.46px);
    color: $main-txt-color;
    position: relative;
    margin-top: 17px;
    padding-left: 45px;
    width: 180px;
  
    &:before {
      @include pseudo($display: block);
      position: absolute;
      width: 28px;
      height: 3px;
      background: #000;
      left: 1px;
      top: 6px;
    }
  }
  &__description {
    width: 292px;
    padding-top: 27px;
    margin: 0 auto;
  }
  &__block {
    display: none;
  }
  &__footer {
    width: 331px;
    margin: 0 auto;
  }
  &__paragraph {
    font-weight: 600;
    position: relative;
    font-family: $main-font;
    font-size: $main-font-size;
    line-height: $secondary-line-height;
    color: $accent-txt-color;

    &:before {
      @include pseudo($display: block);
      position: absolute;
      width: 2px;
      height: 22px;
      background: $main-txt-color;
      top: 2px;
      left: -15px;
      transform: rotate(25deg);
    }
  }
}
.video-curse__description__title {
  font-family: $main-font;
  font-weight: 800;
  @include font-settings(12px, 17px);
  color: $main-txt-color;
  text-transform: uppercase;
}
.video-curse__description__list {
  padding-top: 36px;
}
.description__item {
  list-style: none;
  position: relative;
  counter-reset: none;
  counter-increment: b;
  margin: 0 0 30px 20px;

  &:before {
    position: absolute;
    @include pseudo($display: block, $content: '[ 00' counter(b) ' ]');
    width: 48px;
    height: 9px;
    background-color: $accent-txt-color;
    font-family: $main-font;
    font-weight: 800;
    @include font-settings(13px, 100%);
    color: #fff;
    text-align: center;
    top: 25px;
    left: -40px;
    transform: rotate(-90deg);
  }
  &:last-child {
    margin-bottom: 54px;
  }
}
.description__item__title {
  font-family: $main-font;
  font-weight: 800;
  @include font-settings(13px, 10px);
  padding-bottom: 10px;
  color: $main-txt-color;
}
.description__item__paragraph {
  font-family: 'AcromMedium';
  font-size: $main-font-size;
  line-height: 15px;
  color: $secondary-txt-color;
}
.video-curse__btn {
  display: block;
  margin: 0 auto;
  margin-top: 38px;
  background-color: $accent-txt-color;
  font-family: $main-font;
  font-weight: 300;
  font-size: 10.87px;
  line-height: $main-line-height;
  color: $main-white-color;
  padding: 13px 26px;
  border: 1px solid $accent-txt-color;
  box-shadow: 0px 5px 6px 0px rgba(196, 87, 15, 0.26);
  margin-bottom: 80px;
  text-transform: uppercase;

  &:hover {
    background-color: #17ecff;
    border: 1px solid #17ecff;
    box-shadow: 0px 5px 6px 0px rgba(23, 236, 255, 0.26);
  }

  &:active {
    background-color: #06a4b2;
    border: 1px solid #06a4b2;
  }
}
@media screen and (min-width: 768px) {
  .video-curse {
    margin-top: 75px;

    &__block {
      display: block;
      padding-top: 23px;
    }
    &__header {
      display: grid;
      grid-template-columns: 50% 50%;
    }
  }
  .sub-heading{
    margin-top: 18px;
  }
  .video-curse__header__img {
    width: 275px;
    height: 169px;
  }
  .video-curse__description {
    width: 100%;
    display: grid;
    grid-template-columns: 18% 82%;
    margin: 0;
    padding-top: 53px;

    &__list {
      display: grid;
      grid-template-columns: 28% 28% 28%;
      grid-column-gap: 47px;
      grid-row-gap: 25px;
      padding: 0;
      margin: 0;
      padding-left: 45px;
    }
  }
  .video-curse__description__title {
    @include font-settings(8.97px, 17px);
  }
  .description__item {
    margin: 0;

    &:before {
      width: 21px;
      height: 8px;
      font-size: 5.61px;
      top: 10px;
      left: -25px;
    }
    &_title {
      @include font-settings(11px, 12px);
    }
    &__paragraph {
      @include font-settings(10px, 15px);
    }
  }
  .video-curse__footer {
    display: grid;
    grid-template-columns: 15% 85%;
    width: 100%;
  }
  .video-curse__btn {
    order: 1;
    @include font-settings(6.17px, 10px);
    color: #ffffff;
    padding: 2px 10px;
    margin: 0;
  }
  .video-curse__paragraph {
    order: 2;
    width: 180px;
    @include font-settings(9px, 13px);
    margin-left: 65px;
  }
  .description__item__title{
    @include font-settings(11px, 16px)
  }
}
@media screen and (min-width: 1200px) {
  .video-curse__title {
    @include font-settings(34px, 37.5px);
  }
}