.after-course-title {
  width: 240px;
  margin: 0 auto;

}

.after-course-description {
  width: 305px;
  margin: 45px auto;
}

.text-after-course {
  width: 187px;
  margin: 40px auto 30px;
}

.after-course-img {
  display: none;
}

@media screen and (min-width: 768px) {
  .section-after {
    display: grid;
    grid-template-columns: 50% 50%;
  }

  .after-course-title {
    width: 304px;
  }

  .after-course-img {
    display: block;
    margin-left: 90px;
  }

  .after-course-list {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-column-gap: 30px;
    grid-row-gap: 25px;
    margin-left: 15px;
  }

  .ordered-item {
    margin: 0;
    padding-left: 20px;
  }

  .text-after-course {
    margin: 10px 0 15px 0;
    width: 80px;
  }
}