.section__img {
  display: none;
}
.sect-warning {
  &__title {
    width: 215px;
    margin: 0 auto 20px;
    font-size: 18px;
    cdline-height: 24px;
    color: $main-txt-color;
    font-family: $main-font;
    font-weight: 800;
    text-transform: uppercase;
  }
  &__post {
    width: 215px;
    margin: 0 auto 40px;
    font-size: $main-font-size;
    line-height: $main-line-height;
    color: $main-txt-color;
    font-family: $main-font;
    font-weight: 500;
  }
  &__list-item {
    width: 305px;
    text-align: left;
    margin: 0 auto 20px;
    font-size: $main-font-size;
    line-height: $main-line-height;
    font-family: $main-font;
    h3 {
      font-size: $main-font-size;
      color: $main-txt-color;
      font-weight: 800;
      text-transform: uppercase;
      margin: 0 auto 10px;
    }
    p {
      color: $secondary-txt-color;
      margin: 0;
    }
  }
}
@media screen and (min-width: 768px) {
  .sect-warning {
    display: grid;
    grid-template-columns: 50% 50%;
  }
  .section__img {
    display: block;
    width: 220px;
    margin: 0 auto;
    background-image: url(../images/hard.png);
    background-position: top right;
    background-repeat: no-repeat;
  }
}
