.only-now-image {
  display: block;
  margin: 50px auto;
}

.only-now__text-up {
  width: 357px;
  margin: 40px auto 25px;
}

.only-now-title__list {
  font-family: $main-font;
  font-weight: 800;
  font-size: $main-font-size;
  margin: 60px auto 35px;
  text-transform: uppercase;
  width: 365px;
}

.only-now-list-description {
  width: 315px;
  margin: 0 auto;
}

@media screen and (min-width: 768px) {
  .only-now-header {
    display: grid;
    grid-template-columns: 50% 50%;
  }

  .only-now-image {
    margin-right: 55px;
  }

  .only-now__text-up {
    width: 160px;
    margin: 48px 17px 25px;
  }

  .only-now-description {
    width: 100%;
    display: grid;
    grid-template-columns: 18% 82%;
  }

  .only-now-title__list {
    width: 110px;
    margin-top: 0;
  }

  .only-now-list-description {
    width: 100%;
  }

  .only-now-list {
    display: grid;
    grid-template-columns: 26% 26% 26%;
    grid-column-gap: 47px;
    margin: 0;
    padding: 0 0 0 45px;
  }
}