.sect-many-people__descript {
  width: 380px;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  margin: 0 auto;
}

.sect-many-people__title {
  flex-basis: 190px;
  margin: 0 0 20px;
  font-size: 18px;
  line-height: 24px;
  color: $main-txt-color;
  font-family: $main-font;
  font-weight: 800;
  text-transform: uppercase;
}

.sect-many-people__post {
  flex-basis: 340px;
  margin: 0 0 40px;
  font-size: $main-font-size;
  line-height: $main-line-height;
  color: $main-txt-color;
  font-family: $main-font;
  font-weight: 500;
}

.sect-many-people__text {
  width: 370px;
  font-family: $main-font;

  h3 {
    width: 210px;
  }

  span {
    text-transform: uppercase;
    font-size: $main-font-size;
    line-height: $main-line-height;
    color: $main-white-color;
    background-color: $first-bg-line-color;
    font-weight: 800;
  }
}

h3 + p {
  font-weight: 600;
  margin: 0;
}

// @media screen and (min-width: 768px) {
//   .sect-many-people__descript {
//     grid-area: start_text;
//   }

//   .sect-many-people__text {
//     grid-area: text;
//   }

//   .sect-many-people__img1 {
//     grid-area: img_1;
//   }

//   .sect-many-people__img2 {
//     grid-area: img_2;
//   }

//   .text1 h3 {
//     grid-area: title_1;
//   }

//   .text2 h3 {
//     grid-area: title_2;
//   }

//   .tex1 div {
//     grid-area: post_1;
//   }

//   .tex2 div {
//     grid-area: post_2;
//   }

//   .sect-many-people__text {
//     display: grid;
//     grid-template-columns: 41px 41px 41px 41px 41px 41px;
//     grid-template-rows: auto;
//     grid-column-gap: 20px;
//     grid-template-areas:
//       'title_1 title_1 post_1 post_1 post_1 post_1'
//       'title_2 title_2 post_2 post_2 post_2 post_2';
//   }

//   .sect-many-people {
//     display: grid;
//     grid-template-columns: 41px 41px 41px 41px 41px 41px 41px 41px 41px 41px 41px 41px;
//     grid-template-rows: 250px 145px 105px;
//     grid-column-gap: 20px;
//     grid-template-areas:
//       '. start_text start_text start_text start_text . . img_1 img_1 img_1 img_1 img_1'
//       'img_2 img_2 img_2 img_2 img_2 . text text text text text text'
//       'img_2 img_2 img_2 img_2 img_2 . text text text text text text';
//   }
// }
